body {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  display: block;
  width: 1200px;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #f2f2f2;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
}

.logo {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 140px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  min-height: 56px;
}

.navigation-item {
  display: flex;
  box-sizing: border-box;
  width: 239px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  padding: 10px;
  align-items: center;
}

.navigation-item a {
  color: #000000;
  text-decoration: none;
}

.navigation-item:nth-child(4n+1),
.navigation-item:nth-child(4n+2) {
  padding-left: 72px;
  justify-content: flex-start;
}

.navigation-item:nth-child(4n+3),
.navigation-item:nth-child(4n+4) {
  padding-right: 72px;
  justify-content: flex-end;
}

.navigation-item:nth-child(4n+3) {
  margin-left: 244px;
}

.navigation-item a:hover,
.navigation-item a:focus {
  color: #81b3d2;
}

.navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current-page {
  color: #766357;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 76px;
  background-image: url(../img/background-photo.jpg);
  background-repeat: no-repeat;
  background-position: 0px -83px;
  background-color: #ceebfb;
  min-height: 509px;
  box-sizing: border-box;
}

.welcome::after {
  content: "";
  background-image: url(../img/intro-mask.svg);
  background-repeat: no-repeat;
  background-position: 0px 100%;
  display: block;
  padding-top: 21px;
  height: 59px;
  width: 1200px;
}

.features-intro {
  display: flex;
  box-sizing: border-box;
  min-height: 216px;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  padding-top: 61px;
  padding-bottom: 49px;
  padding-left: 355px;
  padding-right: 355px;
}

.features-intro h2 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 28px;
  box-sizing: border-box;
}

.features-intro p {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.features-heading {
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 21px;
  padding-left: 75px;
  padding-right: 75px;
}

.features-heading-alternate {
  color: #ffffff;
}

.features-element {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  margin-bottom: 21px;
}

.features-element-alternate {
  color: #ffffff;
}

.features-text {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

.features-text-alternate {
  color: #ffffff;
}

.features {
  background-color: #ffffff;
  min-height: 1098px;
  box-sizing: border-box;
}

.features > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-top {
  min-height: 586px;
}

.feature-with-picture {
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
}

.feature {
  width: 400px;
  min-height: 256px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 49px;
  padding-bottom: 60px;
  padding-left: 48px;
  padding-right: 48px;
  background-color: #eeeeee;
  text-align: center;
}

.optional {
  background-color: #81b3d2;
}

.feature-additional {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 330px;
}

.feature-additional li {
  display: flex;
  justify-content: flex-start;
  width: 400px;
  background-color: #ffffff;
  padding-top: 162px;
  padding-bottom: 40px;
}

.features-bottom ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.filter-form {
  min-height: 217px;
  display: flex;
  align-items: flex-start;
  color: #ffffff;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: 0px -297px;
  background-color: #d1ecfa;
}

.filter-form-fieldset {
  border: none;
  margin: 0;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 0;
  width: 254px;
  box-sizing: border-box;
}

.filter-form-fieldset legend {
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 16px;
}

.filter-form-fieldset ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-form-fieldset label {
  display: flex;
  font-size: 14px;
  align-items: center;
}

.filter-form-fieldset li {
  margin-bottom: 23px;
}


.filter-form-fieldset li:last-child {
  margin-bottom: 0px;
}

.filter-form-input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

.filter-form-fieldset label::before {
  content: url(../img/checkbox-off.svg);
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 13px;
  vertical-align: middle;
}

.filter-form-input:checked + label::before {
  content: url(../img/checkbox-on.svg);
}

.filter-form-input:focus ~ label::before {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
}

.double-selector {
  width: 316px;
  margin-left: auto;
}

.double-selector p {
  margin: 0;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.price-selector {
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  position: relative;
}

.price-selector::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-selector label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.min-price,
.max-price {
  width: 90px;
  padding-left: 65px;
}

.price-selector input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  position: absolute;
  top: -9px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
  border: 10px solid #ffffff;
  transform: translate(-2px, -2px);
}

.button-wrapper {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-wrapper:hover,
.button-wrapper:focus {
  background-color: #ffffff;
  color: #000000;
}

.search-result {
  min-height: 86px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 30px;
  padding-bottom: 29px;
  border-bottom: 1px solid #f2f2f2;
}

.founded {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 165px;
  padding-right: 30px;
  box-sizing: border-box;
}

.sort {
  display: flex;
  align-items: center;
  width: 890px;
}

.sort-links,
.sort-buttons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-links {
  flex-wrap: wrap;
}

.sort-buttons {
  margin-left: auto;
}

.sort-links li {
  margin-right: 16px;
  margin-left: 16px;
}

.sort-links li:first-child {
  margin-left: 0;
}

.sort-buttons {
  min-width: 34px;
  justify-content: space-between;
}

.sort-heading {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  width: 115px;
  padding-right: 10px;
  box-sizing: border-box;
}

.sort button,
.sort a {
  padding: 0;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
}

.sort-button-text {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.sort-button-text-active {
  color: #81b3d2;
  text-decoration: none;
}

.sort-button-text:hover,
.sort-button-text:focus {
  color: #81b3d2;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.sort-button-text:active {
  color: #000000;
  text-decoration: none;
}

.sort-button-triangle {
  fill: #cacaca;
}

.sort-button-triangle-active {
  fill: #81b3d2;
}

.sort-button-triangle:hover,
.sort-button-triangle:focus {
  fill: #000000;
}

.sort-button-triangle:active {
  fill: #81b3d2;
}

.selected-hotels {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.selected-hotels-block {
  padding-top: 30px;
  padding-left: 72px;
  padding-right: 73px;
  padding-bottom: 30px;
  display: flex;
  min-height: 150px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
}

.selected-hotels-info {
  margin-left: 30px;
  width: 780px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.selected-hotels-hotel-name {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
}

.selected-hotels-type-price-flex {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  margin-top: 7px;
  margin-bottom: 8px;
}

.selected-hotels-type {
  margin: 0;
  width: 110px;
  margin-right: 6px;
}

.selected-hotels-price {
  margin: 0;
  width: 142px;
}

.selected-hotels-buttons-flex {
  display: flex;
  align-items: flex-start;
}

.selected-hotels-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 27px;
  padding: 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
  box-sizing: border-box;
  text-align: center;
}

.button-about {
  width: 110px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.button-about:hover,
.button-about:focus {
  background-color: #669ec0;
}

.button-about:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  width: 142px;
  background-color: #766357;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  color: rgba(255, 255, 255, 0.3);
}

.selected-hotels-rating {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  width: 110px;
}

.selected-hotels-rating p {
  margin: 0;
}

.rating-plate {
  color: #666666;
  width: 110px;
  min-height: 27px;
  background-color: #f2f2f2;
  background-size: 110px 27px;
  font-size: 14px;
  line-height: 21px;
  padding: 3px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
}

.selected-hotels-hotel-name a {
  color: #000000;
  text-decoration: none;
}

.selected-hotels-hotel-name a:hover,
.selected-hotels-hotel-name a:focus {
  color: #81b3d2;
}

.selected-hotels-hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.booking {
  box-sizing: border-box;
  min-height: 291px;
  background-color: #ffffff;
  padding-top: 54px;
}

.booking-heading {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.booking-text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 43px;
}

.map-form-hide-wrapper {
  overflow: hidden;
}

.form-hide-wrapper {
  position: relative;
  min-height: 86px;
}

.form-hide {
  margin: 0 auto;
  display: flex;
  width: 568px;
  min-height: 86px;
  padding: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #766357;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 3;
}

.map {
  display: block;
  position: relative;
  min-height: 593px;
}

.map img {
  position: absolute;
  left: 0;
  top: 0;
}

.map iframe {
  border: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.form-hide:hover,
.form-hide:focus {
  background-color: #604e43;
}

.form-hide:active {
  color: rgba(255, 255, 255, 0.3);
}

.order-form-inner {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 55px;
  display: flex;
  width: 568px;
  min-height: 395px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-sizing: border-box;
  flex-direction: column;
  z-index: 2;
}

.booking-date-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.booking-persons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking-persons-container input[type="number"]::-webkit-outer-spin-button,
.booking-persons-container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.booking-persons-container input[type="number"] {
  -moz-appearance: textfield;
}

.booking-persons-container input[type="number"]:hover,
.booking-persons-container input[type="number"]:focus {
  -moz-appearance: number-input;
}

.booking-persons-adults,
.booking-persons-child {
  display: flex;
  align-items: center;
}

.date-label,
.adult,
.child {
  width: 112px;
  font-weight: bold;
  font-size: 14px;
}

.child {
  width: 65px;
}

.booking-date {
  width: 316px;
  min-height: 38px;
  background-color: #f2f2f2;
  border: 0px;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 12px;
  box-sizing: border-box;
}

.booking-date:hover {
  background-color: #ebebeb;
}

.booking-date:focus {
  background-color: #ffffff;
}

.persons-qty {
  width: 38px;
  min-height: 38px;
  border: none;
  background-color: #f2f2f2;
  padding: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.calendar {
  width: 30px;
  min-height: 38px;
  padding: 0;
  border: none;
  fill: #cacaca;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.increase,
.decrease {
  border: none;
  padding: 0;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  fill: #cacaca;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar:hover,
.calendar:focus,
.increase:hover,
.increase:focus,
.decrease:hover,
.decrease:focus {
  fill: #000000;
  cursor: pointer;
}

.calendar:active,
.increase:active,
.decrease:active {
  fill: #81b3d2;
}

.search-button {
  width: 458px;
  min-height: 58px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 10px;
  background-color: #81b3d2;
  margin-top: 54px;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-flex {
  display: flex;
  bottom: 0;
  left: 0;
  min-height: 120px;
}

.footer-flex-index {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}

.footer-flex-hotel {
  background-color: #ffffff;
}

.footer-block {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.copyright {
  padding-left: 101px;
  padding-right: 101px;
}

.copyright span {
  margin: 0;
  margin-right: 8px;
  font-size: 14px;
}

.copyright a {
  fill: #231f20;
  width: 116px;
  height: 41px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.copyright a:hover,
.copyright a:focus {
  fill: #81b3d2;
}

.copyright a:active {
  fill: #bdbbbc;
}

.hashtag {
  font-weight: bold;
  font-size: 21px;
  margin: 0;
  text-align: center;
}

.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 120px;
  padding-right: 120px;
  box-sizing: border-box;
}

.socials-icon {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  text-align: center;
  margin: 3px;
}

.socials-icon:hover,
.socials-icon:focus {
  background-color: #669ec0;
}

.socials-icon:active {
  background-color: #5496bd;
}

.socials-icon:active img {
  opacity: 0.3;
}

.socials-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  background-position: 50% 62px;
  background-repeat: no-repeat;
}

.icon-1 {
  background-image: url(../img/icon-1.svg);
}

.icon-2 {
  background-image: url(../img/icon-2.svg);
}

.icon-3 {
  background-image: url(../img/icon-3.svg);
}

@keyframes order-form-inner-hide-animation {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes order-form-inner-show-animation {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.order-form-inner-hide {
  animation-name: order-form-inner-hide-animation;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  box-shadow: none;
}

.order-form-inner-show {
  animation-name: order-form-inner-show-animation;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}
